.box1{
	height:200px;
	width: 200px;
    float:left;
	background: darkred;
	position: relative;
  margin-right:200px;

}
.box2{
	height:200px;
	width: 200px;
	position: relative;
	
	background: darkgreen;
    float:left;

}
